section.steps-section
  .out-wrapper.steps-section__out-wrapper
    .wrapper
      .steps-section__container
        img.steps-section__img-doc(src="images/steps-section-img-doc.png" loading="lazy" width="1000" height="705" alt="image")
        h2.steps-section__title.font-w-a-regular.font-s-50.text-up
          | Какие этапы работы 
          br
          | вам предстоит пройти
        .swiper-bullet
          .steps-section__cards.swiper-wrapper
            .steps-section__card.swiper-slide
              .steps-section__card-num.font-w-a-regular 01
              .steps-section__card-text.font-s-18
                | Заключение договора
                br
                | франшизы
            .steps-section__card.swiper-slide.steps-card-order-3
              .steps-section__card-num.font-w-a-regular 02
              .steps-section__card-text.font-s-18
                | Согласование проектной
                br
                | документации
            .steps-section__card.swiper-slide.steps-card-order-5
              .steps-section__card-num.font-w-a-regular 03
              .steps-section__card-text.font-s-18
                | Поиск помещения
                br
                | и заключение договора
                br
                | аренды
            .steps-section__card.swiper-slide.steps-card-order-7
              .steps-section__card-num.font-w-a-regular 04
              .steps-section__card-text.font-s-18
                | Ремонт и оформление
                br
                | помещения
            .steps-section__card.swiper-slide.steps-card-order-9
              .steps-section__card-num.font-w-a-regular 05
              .steps-section__card-text.font-s-18
                | Поиск персонала
            .steps-section__card.swiper-slide.steps-card-order-2
              .steps-section__card-num.font-w-a-regular 06
              .steps-section__card-text.font-s-18
                | Получение разрешений
                br
                | и согласований
                br
                | в госинстанциях
            .steps-section__card.swiper-slide.steps-card-order-4
              .steps-section__card-num.font-w-a-regular 07
              .steps-section__card-text.font-s-18
                | Доставка и монтаж
                br
                | приобретённого
                br
                | оборудования, мебели
                br
                | и посуды
            .steps-section__card.swiper-slide.steps-card-order-6
              .steps-section__card-num.font-w-a-regular 08
              .steps-section__card-text.font-s-18
                | Формирование первичных
                br
                | запасов товара и расходных
                br
                | материалов
            .steps-section__card.swiper-slide.steps-card-order-8
              .steps-section__card-num.font-w-a-regular 09
              .steps-section__card-text.font-s-18
                | Обучение персонала
            .steps-section__card.swiper-slide.steps-card-order-10
              .steps-section__card-num.font-w-a-regular 10
              .steps-section__card-text.font-s-18
                | Официальное открытие
          .bullet-pagination
        .steps-section__bottom
          .font-w-semi-bold.font-s-20
            | Работаем 
            span.color-orange строго по договору, 
            br.no-br
            | в котором описаны наши обязанности 
            br.no-br
            | и все условия сотрудничества
          button.btn.steps-section__btn(data-remodal-target="modal-form-agreement") скачать пример договора
        img.steps-section__img(src="images/steps-section-img.png" loading="lazy" width="1218" height="1838" alt="image")
